@keyframes border {
    0% {
        border-color: transparent;
    }
    25% {
        border-left-color: black;
    }
    50% {
        border-bottom-color: black;
    }
    75% {
        border-right-color: black;
    }

    100% {
        border-color: black;
    }
}